@charset "UTF-8";


.lt_sort {

    height: 30px;
    line-height: 30px;
    background-color: #eee;
    padding: 0 10px;
    font-size:12px;
}
.lt_sort a{
    float: left;
    width: 25%;
    color: #666666;
    text-align: center;
}
.lt_sort a.now{
    color:darkorange;
}